<div mat-dialog-title>
    <h1>Projet Form</h1>
</div>
<form [formGroup]="projetForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput type="text" placeholder="" formControlName="nomProjet">
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Phase</mat-label>
                <input matInput placeholder="" formControlName="phaseProjet">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Statut</mat-label>
                <input matInput type="text" placeholder="" formControlName="statutProjet">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Statut Prerequis</mat-label>
                <input matInput type="email" placeholder="" formControlName="statutPrerequis">
            </mat-form-field>
    </div>         <div class="row">
        <mat-form-field appearance="outline">
                <mat-label>Domaine</mat-label>
                <input matInput type="email" placeholder="" formControlName="domaine">
            </mat-form-field>
    </div>     <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Date Debut</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateDebut">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Date Fin</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateFin">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>


    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>
